@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

h4 {
  line-height: 32px !important;
}
body {
  font-family: "Open Sans", sans-serif !important;
  background: #ebe9e9;
  overflow-x: hidden;
}

p {
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
}

body.dark {
  background: #071739 !important;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #0858f7 !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.btn-blue {
  background: #0858f7 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  border-radius: 8px !important;
}

.btn-lg {
  padding: 5px 25px !important;
}

.btn-big {
  padding: 10px 25px !important;
  font-size: 16px !important;
}

.btn-round {
  border-radius: 30px !important;
}

.full {
  max-width: 100% !important;
  flex: 0 0 100% !important;
  width: 100% !important;
}

.link {
  color: #5e5d72;
  font-weight: 600;
  text-transform: capitalize;
}

.link:hover {
  color: #0858f7 !important;
  text-decoration: none;
}

.link.color {
  color: #0858f7 !important;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

body.dark header {
  background: #112143 !important;
}

header .logo img {
  width: 45px;
}

header .logo span {
  color: #403e3e;
  font-weight: 800;
  font-size: 24px;
}

body.dark header .logo span {
  color: #fff;
  opacity: 0.9;
}

header button.rounded-circle {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #f0f5ff !important;
  color: #403e3e;
  margin-top: 5px !important;
}

header button.rounded-circle svg {
  font-size: 18px !important;
  transition: all 0.2s ease-in-out;
}

header button.rounded-circle:hover svg {
  color: #0858f7;
}

body.dark header button.rounded-circle {
  background: #112755 !important;
}

body.dark header button.rounded-circle svg {
  color: #fff !important;
}

header .part2 {
  padding-left: 60px !important;
}

header .part3 .bt-3 {
  margin-top: 12px !important;
}

.searchBox {
  width: 300px;
  height: 40px;
  border-radius: 6px;
  background: #f0f5ff;
  padding: 3px 15px;
}

body.dark .searchBox {
  background: #12254e;
}

.searchBox input {
  border: transparent;
  background: none;
  outline: none;
  padding-left: 0px;
  font-size: 14px;
  color: #403e3e;
}

body.dark .searchBox input,
body.dark .searchBox input::-webkit-input-placeholder,
body.dark .searchBox svg {
  color: rgba(255, 255, 255, 0.7) !important;
}

.searchBox input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.searchBox svg {
  font-size: 18px;
  color: #403e3e;
}

.myAcc {
  text-align: left !important;
  color: #0858f7 !important;
  text-transform: capitalize !important;
}

.userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 1px solid #0858f7;
  border-radius: 100%;
  padding: 2px;
}

.userImg.lg {
  width: 60px !important;
  height: 60px !important;
}

.userImg .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.userImg .rounded-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myAcc .userInfo {
  padding-left: 10px;
}

.myAcc .userInfo h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  color: #292929;
}

body.dark .myAcc .userInfo * {
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #12254e !important;
}

body.dark .MuiPaper-elevation li *,
body.dark .MuiPaper-elevation li {
  color: rgba(255, 255, 255, 0.8) !important;
}
.myAcc .userInfo p {
  margin-top: 0;
  font-size: 12px;
  color: #000;
  opacity: 0.7;
  line-height: 20px;
}

#account-menu li {
  font-size: 15px !important;
  padding: 12px 15px !important;
}

#account-menu li svg {
  font-size: 20px !important;
}

#notifications .MuiPaper-elevation {
  right: 250px !important;
  width: 300px !important;
  left: auto !important;
  top: 70px !important;
}

.dropdown_list .head {
  padding: 10px 0;
}

.dropdown_list .head h4 {
  font-size: 16px;
  font-weight: 600;
}

body.dark .dropdown_list .head h4 {
  color: rgba(255, 255, 255, 0.9) !important;
}

body.dark .dropdown_list li.MuiButtonBase-root {
  background: #12254e !important;
  background: #12254e !important;
}

.dropdown_list li.MuiButtonBase-root {
  background: #ebf6ff !important;
  color: #000 !important;
  padding: 10px 15px !important;
}

.dropdown_list li.MuiButtonBase-root:hover {
  background: #e2e8ed !important;
}

.dropdownInfo {
  padding-left: 15px;
}

.dropdownInfo h4 {
  font-size: 13px;
  font-weight: 500;
  white-space: break-spaces;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}

.dropdownInfo h4 b {
  font-weight: 600;
}

.dropdownInfo p {
  font-size: 13px;
  font-weight: 500;
  margin-top: 0;
}
.text-sky {
  color: #0858f7 !important;
}

.dropdown_list .scroll {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main .sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s;
}

.main .sidebarWrapper.toogle {
  width: 0%;
  flex: 0 0 0%;
}

.main .sidebarWrapper .sidebar {
  width: 20%;
  height: 100vh;
  /* max-height: calc(100%-70px);
  overflow-y: scroll;
  overflow-x: hidden; */
  position: fixed;
  top: 70px;
  left: 0;
  background: #fff;
  padding-bottom: 40px;
  transition: all 0.3s ease-in-out;
}

body.dark .main .sidebarWrapper .sidebar {
  background: #112143 !important;
}

.main .sidebarWrapper.toogle .sidebar {
  left: -100%;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar {
  width: 3px !important;
}

.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar {
  background: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul {
  margin-bottom: 0;
  padding: 10px 15px;
}

.main .sidebarWrapper .sidebar ul li {
  list-style: none;
}

.main .sidebarWrapper .sidebar ul li button {
  text-align: left;
  color: #5e5d72;
  justify-content: left;
  border-radius: 10px !important;
  align-items: center;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-family: "Open Sans", sans-serif !important;
  padding: 12px 10px !important;
  font-size: 15px !important;
}

body.dark .main .sidebarWrapper .sidebar ul li button {
  color: rgba(255, 255, 255, 0.8) !important;
}

.main .sidebarWrapper .sidebar ul li button .icon {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.main .sidebarWrapper .sidebar ul li button .icon svg {
  font-size: 20px;
}

/* .main .sidebarWrapper .sidebar ul li button * {
  color: #5e5d72 !important;
} */

.main .sidebarWrapper .sidebar ul li button .arrow {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar ul li button:hover {
  background: #f1f1f1 !important;
}

body.dark .main .sidebarWrapper .sidebar ul li button:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.main .sidebarWrapper .sidebar ul li button.active {
  background: #f1f1f1 !important;
}

body.dark .main .sidebarWrapper .sidebar ul li button.active {
  background: rgba(255, 255, 255, 0.1) !important;
}

.main .sidebarWrapper .sidebar ul li button.active .icon svg {
  color: #0858f7 !important;
}

.main .sidebarWrapper .sidebar ul li button.active .arrow {
  transform: rotate(90deg);
}

.main .sidebarWrapper .sidebar ul .submenu {
  padding: 0 35px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.main .sidebarWrapper .sidebar ul .submenu::before {
  content: "";
  width: 1px;
  height: 90%;
  position: absolute;
  top: 10px;
  left: 20px;
  background: rgba(0, 0, 0, 0.2);
}

body.dark .main .sidebarWrapper .sidebar ul .submenu::before {
  background: rgba(255, 255, 255, 0.8);
}

.main .sidebarWrapper .sidebar ul .submenu li {
  width: 100%;
  list-style: none;
}

.main .sidebarWrapper .sidebar ul .submenu li a {
  color: #5e5d72 !important;
  display: block;
  padding: 6px 0;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
}

body.dark .main .sidebarWrapper .sidebar ul .submenu li a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.main .sidebarWrapper .sidebar ul .submenu li a:hover {
  color: #0858f7 !important;
}

body.dark .main .sidebarWrapper .sidebar ul .submenu li a:hover {
  color: #0858f7 !important;
}
.main .sidebarWrapper .sidebar ul .submenuWrapper {
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.collasped {
  height: 0;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.collasped .submenu {
  opacity: 0;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.collaspe {
  height: auto;
}

.main .sidebarWrapper .sidebar ul .submenuWrapper.collaspe .submenu {
  opacity: 1;
  padding: 5px 30px;
}

.logoutWrapper {
  padding: 0px 25px;
}

.logoutWrapper .logoutBox {
  width: 100%;
  height: 130px;
  padding: 25px;
  background: #bcd3fd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

body.dark .logoutWrapper .logoutBox {
  background: #0a3185 !important;
}

body.dark .logoutWrapper .logoutBox {
  background: linear-gradient(
    rgba(var(#183e8c), 25%),
    rgba(var(#163474), 40%)
  ) !important;
}

.logoutWrapper .logoutBox::before {
  content: "";
  width: 70px;
  height: 70px;
  background: #0858f7;
  position: absolute;
  border-radius: 100%;
  top: -35px;
  right: -8px;
  opacity: 0.3;
}

.logoutWrapper .logoutBox::after {
  content: "";
  width: 30px;
  height: 30px;
  background: #0858f7;
  position: absolute;
  border-radius: 100%;
  top: 10px;
  left: 20px;
  opacity: 0.3;
}

.logoutWrapper .logoutBox button {
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif !important;
}

.logoutWrapper .logoutBox button svg {
  margin-right: 5px;
}

.main .content {
  width: 80%;
  flex: 0 0 80%;
  transition: all 0.3s;
}

.main .content.toogle {
  width: 100%;
  flex: 0 0 100%;
}

.right-content {
  padding: 90px 30px;
  padding-bottom: 10px;
}

.dashboardBoxWrapper {
  gap: 20px;
  flex-wrap: wrap;
}

.product .dashboardBoxWrapper {
  gap: 20px;
}

.product .dashboardBoxWrapper .dashboardBox {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left !important;
  position: relative;
  color: #fff;
  text-transform: capitalize !important;
}

.product .dashboardBoxWrapper .dashboardBox .bottomEle {
  margin-bottom: 10px !important;
}

.dashboardBoxWrapper .dashboardBox {
  width: 48%;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left !important;
  position: relative;
  color: #fff;
  text-transform: capitalize !important;
}

.dashboardBoxWrapperRow .box {
  width: 100%;
  height: 100%;
}

.dashboardBoxWrapper .dashboardBox .chart {
  opacity: 0.1;
  position: absolute;
  bottom: 12px;
  left: 20px;
}

.dashboardBoxWrapper .dashboardBox .chart svg {
  font-size: 100px;
  color: #000;
}

.dashboardBoxWrapper .dashboardBox .col1 h4 {
  font-size: 16px;
  font-weight: 600;
}

.dashboardBoxWrapper .dashboardBox .col1 span {
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
}

.dashboardBoxWrapper .dashboardBox .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.dashboardBoxWrapper .dashboardBox .icon svg {
  font-size: 36px;
  opacity: 0.4;
  color: #fff;
}

.dashboardBoxWrapper .dashboardBox .toogleIcon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.dashboardBoxWrapper .dashboardBox .bottomEle {
  position: relative;
  top: 25px;
}

.dropdown_menu .MuiButtonBase-root svg {
  color: #000 !important;
  font-size: 17px !important;
  margin-right: 10px !important;
}

.graphBox {
  background-image: linear-gradient(#1b4fb0, #125be8);
  border-radius: 10px;
  padding: 25px;
}

.toogleIcon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.toogleIcon svg {
  color: #fff !important;
  font-size: 20px !important;
}

.graphBox h4 {
  font-size: 16px;
  font-weight: 600;
}

.graphBox p {
  font-size: 13px;
  color: #fff !important;
  opacity: 0.7;
}

.MuiButtonBase-root {
  font-family: "Open Sans", sans-serif !important;
}

.card {
  margin: 20px 0;
  border-radius: 10px;
}

.card .hd {
  font-size: 18px;
  font-weight: bold;
  color: #403e57;
}

body.dark .card .hd {
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .card {
  background: #112143 !important;
}

body.dark .cardFilters .col-md-3 h4 {
  color: rgba(255, 255, 255, 0.8) !important;
}
.cardFilters .col-md-3 h4 {
  font-size: 14px;
  font-weight: 800;
  text-transform: capitalize;
  color: #403e57;
}
body.dark
  .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6,
body.dark p,
body.dark .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
body.dark .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: rgba(255, 255, 255, 0.9) !important;
}

body.dark
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root
  .MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #403e57 !important;
}

.table-responsive::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

body.dark .table-responsive::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3) !important;
}

.table .thead-dark th {
  background-color: #1866ee !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
  font-size: 13px !important;
}

.table tbody td {
  font-size: 14px !important;
  color: #403e57 !important;
  font-weight: 500;
}

.table tbody .actions button {
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin: 0 3px !important;
}

.table tbody .actions button.secondary {
  background: rgba(203, 60, 231, 0.2) !important;
}

.table tbody .actions button.success {
  background: rgba(26, 159, 83, 0.2) !important;
}

.table tbody .actions button.error {
  background: rgba(241, 17, 51, 0.2) !important;
}

.table td .old,
.table td .new {
  display: block;
  width: 100%;
}

table.v-align td {
  vertical-align: middle !important;
}

table td .imgWrapper {
  width: 35%;
  flex: 0 0 35%;
  margin-right: 10px;
}

table td .info {
  width: 65%;
  flex: 0 0 65%;
}

table td .info h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
}

table td .info p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 18px;
  color: #5e5d72;
}

table.v-align td .productBox {
  width: 150px;
}

.tableFooter {
  padding-bottom: 15px;
}

.tableFooter .pagination {
  margin-left: auto;
}

.tableFooter p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}

body.dark table td {
  color: rgba(255, 255, 255, 0.6) !important;
}

body.dark .table-bordered td,
.table-bordered th {
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #0858f7 !important;
}

body.dark .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff !important;
}

body.dark .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
  color: rgba(255, 255, 255, 0.8) !important;
}

.loginSection {
  width: 100%;
  height: 100vh;
  padding: 35px 25px;
  position: relative;
  background: #fff;
}

.loginPattern {
  width: 100%;
  height: 100%;
  opacity: 0.08;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;
}

.loginSection .loginBox {
  width: 350px;
  height: auto;
  margin: auto;
}

.loginSection .loginBox .wrapper {
  width: 100%;
  height: auto;
  background: #f0f0f0;
  position: relative;
  z-index: 100;
  padding: 35px;
}

.loginSection .loginBox .wrapper .form-control {
  box-shadow: none !important;
  background: #fff !important;
  outline: none !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  height: 45px !important;
  padding-left: 50px !important;
}

.loginSection .loginBox .wrapper .form-control:focus {
  border: 1px solid #0858f7 !important;
}

.loginSection .loginBox .wrapper .form-group.focus .icon svg {
  color: #0858f7 !important;
}
.loginSection .loginBox .wrapper .form-group {
  margin-bottom: 20px;
}

.loginSection .loginBox .wrapper .form-group .icon {
  position: absolute;
  top: 3px;
  left: 10px;
  z-index: 100;
  font-size: 25px;
}

.loginSection .loginBox .wrapper .form-group .icon svg {
  color: #5e5d72 !important;
}

.toogleShowPassword {
  position: absolute;
  top: 9px;
  right: 12px;
  cursor: pointer;
}

.toogleShowPassword svg {
  font-size: 22px;
  color: #5e5d72;
}

.loginSection .loginBox .wrapper .link {
  font-size: 14px;
}

.loginSection .loginBox .wrapper .or span.line {
  display: block;
  width: 35%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.loginSection .loginBox .wrapper .or span.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.loginWithGoogle {
  text-transform: capitalize !important;
  font-weight: bold !important;
}

.signupSection {
  background: #f1f1f1 !important;
  padding: 0px 0;
  height: auto;
}

.signupSection .loginBox {
  background: #e4e4e4 !important;
  width: 100%;
  padding: 25px 25px !important;
}

.signupSection .loginBox .wrapper {
  border: 0px !important;
  background: transparent !important;
  padding-top: 10px !important;
}

.signupSection .part1 {
  padding-left: 100px;
  padding-right: 100px;
}

.signupSection .part1 h1 {
  font-size: 50px;
  font-weight: 800;
}

.signupSection .part1 p {
  font-size: 18px;
  font-weight: 500;
}

.productHead {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 16px;
  background: #fff;
}

body.dark .productHead {
  background: #112143;
}

.productHead h1 {
  font-size: 20px;
  font-weight: bold;
}

.productHead button {
  background: #f0f0f0;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  height: 20px !important;
  font-size: 13px !important;
}

.productHead button .home {
  margin-bottom: 2px;
}

body.dark .productHead button {
  background: #071739;
  color: #f0f0f0;
}

body.dark .productHead span {
  color: #f0f0f0;
}

.productHead button svg {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

body.dark .productHead button svg {
  color: #f0f0f0;
}

.sliderSmall .slick-slide {
  padding-right: 5px;
}

.sliderSmall .slick-current .item {
  border: 1px solid #ccc !important;
}

.sliderSmall .slick-slide .item {
  border-radius: 7px !important;
  overflow: hidden !important;
  border: 2px #ccc dashed !important;
  cursor: pointer;
}

.sliderSmall *,
.sliderBig {
  transition: all 0.2s !important;
}

.sliderBig .slick-slide .item {
  border-radius: 7px !important;
  overflow: hidden !important;
  border: 2px #ccc dashed !important;
}

.productDetailsSection .productInfo .icon {
  width: 28%;
  flex: 0 0 28%;
}

body.light .productDetailsSection .productInfo .icon svg {
  color: #5e5d72 !important;
}

.productDetailsSection .productInfo .icon svg {
  font-size: 22px;
}

.productDetailsSection .productInfo .name {
  width: 72%;
  flex: 0 0 72%;
  font-weight: bold;
  font-size: 15px;
}

body.light .productDetailsSection .productInfo .name {
  color: #5e5d72 !important;
}

.productDetailsSection .productInfo .row {
  margin-bottom: 10px !important;
}

.productDetailsSection .productInfo .row .col-sm-9 {
  display: flex;
  align-items: center;
}

.productDetailsSection .productInfo .row .col-sm-9 span {
  opacity: 0.8;
  font-size: 15px;
  padding-left: 20px;
}
body.dark .productDetailsSection {
  color: rgba(255, 255, 255, 0.8);
}
body.dark .productHead span {
  color: rgba(255, 255, 255, 0.8);
}

/* body.dark {
  color: rgba(255, 255, 255, 0.8);
} */

body.light p {
  font-weight: 400 !important;
}

.tags {
  margin-bottom: 0 !important;
  color: #000 !important;
  padding: 4px 0px !important;
}

.tags li {
  margin: 3px 5px !important;
}

.tags li span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b2b4d !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  padding: 5px !important;
}

body.light .tags li span {
  background: #f0f0f0 !important;
}

.tags li span:first-child {
  padding-left: 0px !important;
}

.ratingSection {
  width: 500px;
}

.ratingSection .ratingRow {
  width: 100%;
  margin-bottom: 15px !important;
}

.ratingSection .ratingRow .progress {
  height: 5px !important;
  background-color: #000 !important;
}

body.light .ratingSection .ratingRow .progress {
  background: #ccc !important;
}

.ratingSection .ratingRow .progress .progress-bar {
  background: #edb213 !important;
}

.ratingSection .ratingRow .col1 {
  width: 15%;
  flex: 0 0 15%;
}

.ratingSection .ratingRow .col2 {
  width: 50%;
  flex: 0 0 50%;
}

.ratingSection .ratingRow .col3 {
  width: 25%;
  flex: 0 0 25%;
  padding-left: 20px;
}

.reviewsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviewsSection .reviewsRow {
  width: 100%;
  height: auto;
  background: #071739;
  padding: 35px;
  border-radius: 10px;
  margin: 15px 0;
}

body.light .reviewsSection .reviewsRow {
  background: #f8f8f8 !important;
}
body.dark .css-15befwp-MuiRating-root {
  color: #faaf00 !important;
}

.info h6 {
  margin-bottom: 0 !important;
}

.reviewsSection .reviewsRow p {
  padding-left: 20px;
}

.reviewsSection .reviewsRow.reply {
  width: 90%;
  margin-left: auto;
}

.reviewsSection .reviewsRow .btn-big {
  font-size: 15px !important;
}

.reviewsSection .reviewsRow .btn-big svg {
  font-size: 15px !important;
}

.reviewForm {
  width: 100%;
}

.reviewForm textarea {
  width: 100%;
  height: 200px;
  background: #1b2b4d !important;
  outline: none !important;
  padding: 15px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #132345 !important;
}

.reviewForm textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body.light .reviewForm textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

body.light .reviewForm textarea {
  background: #ededed !important;
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid #dbdbdb !important;
}

.form .form-group {
  margin-bottom: 25px;
}

.form .form-group h6 {
  margin-bottom: 10px;
  font-size: 13px;
}

.form .form-group input,
.form .form-group textarea {
  background: #fafafa;
  width: 100%;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 55px;
  padding-left: 15px;
  border-radius: 5px;
  font-size: 14px;
}

.form .form-group textarea {
  height: 120px;
  padding-top: 15px;
}

body.dark .form .form-group input,
body.dark .form .form-group textarea {
  background: #1b2b4d !important;
  border: 1px solid #253557 !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.editModal .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 600px !important;
}

button .loader {
  width: 25px !important;
  height: 25px !important;
}

.productHead .buttonaddcat {
  height: 30px !important;
}

body.dark .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root,
body.dark .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .css-1lg55su-MuiButtonBase-root-MuiButton-root {
  color: #38ff42 !important;
}

body.dark .css-10fi992-MuiButtonBase-root-MuiButton-root {
  color: #ff0000 !important;
}

.topLoadingBar {
  height: 4px !important;
  background: #0858f7 !important;
}

body.dark
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: rgba(255, 255, 255, 0.8) !important;
}

body.dark .css-6hp17o-MuiList-root-MuiMenu-list {
  background: #071739 !important;
}

.stickyBox {
  position: sticky;
  top: 90px;
}

.stickyBox h4 {
  font-size: 22px;
}

.imgGrid {
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.imgGrid .img {
  width: 48%;
  overflow: hidden;
  border-radius: 7px;
  height: 100px;
}

.imgGrid .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputBtn button {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 100;
}

.imgUploadBox {
  width: 100%;
  flex-wrap: nowrap;
  gap: 10px;
}

.imgUploadBox .uploadBox {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 7px;
  border: 1px dashed rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.imgUploadBox .uploadBox input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.imgUploadBox .uploadBox .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}

.imgUploadBox .uploadBox .info svg {
  font-size: 50px;
  opacity: 0.2;
}

.imgUploadBox .uploadBox .info h5 {
  font-size: 15px;
  text-align: center;
  opacity: 0.5;
}
